@import "tailwindcss";

:root {
  --font-metamorphous: "Metamorphous", serif;
  --font-merriweather-light: "Merriweather", serif;
  --font-merriweather-regular: "Merriweather", serif;
  --font-merriweather-bold: "Merriweather", serif;
  --font-merriweather-light-italic: "Merriweather", serif;
  --font-merriweather-regular-italic: "Merriweather", serif;
  --font-merriweather-bold-italic: "Merriweather", serif;
  

  --bg-image: url("/src/assets/Background.png");
  
  --color-bgDark: #141540;
  --color-starDust: #ffdbb7;

  
}

body {
  background-image: var(--bg-image);
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
}

h1, p {
  font-family: var(--font-metamorphous);
  color: var(--color-starDust);
}

