@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

:root {
  --font-metamorphous: "Metamorphous", serif;
  --font-merriweather: "Merriweather", serif;

  --bg-image: url("/src/assets/Background.png");
  
  --color-bgDark: #141540;
  --color-starDust: #ffdbb7;

  
}

body {
  background-image: var(--bg-image);
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
}

h1 { 
  font-family: var(--font-metamorphous);
  color: var(--color-starDust);
 
}

button {
  font-family: var(--font-merriweather);
  font-weight: 700;
  color: #000;
}

button:hover {
  color: var(--color-starDust);
  transition: background-color 0.3s, color 0.3s;
}

p {
  font-family: var(--font-merriweather);
  color: var(--color-starDust);
  font-weight: 400;}
