@import "tailwindcss";

:root {
  --font-metamorphous: "Metamorphous", serif;
  --font-merriweather: "Merriweather", serif;

  --bg-image: url("/public/Background.png");
  
  --color-bgDark: #141540;
  --color-starDust: #ffdbb7;

  
}

body {
  background-image: var(--bg-image);
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
}

h1 {
  font-family: var(--font-metamorphous);
  color: var(--color-starDust);
}